.GridItemEven,
.GridItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.GridItemEven {
  background-color: #f8f8f0;
}
.rowLabel{
    // absolutely position the label and move it down `cellHeight`
    position: absolute !important;
    top: 0;
    border-top: 1px solid black;
}
.column-label{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-right: var(--border);
    text-transform: uppercase;
    font-size: 0.6rem;
    color: var(--gray);
    font-weight: 700;
    background-color: var(--lightGray);

   &::nth-last-child(1){
    border-right: none;
   }
}
.fixed-column {
    display: flex;
    align-items: center;
    padding: 0 1rem; 
    overflow: hidden; 
}

.cell {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    border-bottom: var(--border);
    border-right: var(--border);
    overflow: hidden; 
    padding: 0 1rem;
}
