:root {
    --dark: #3E4457;
    --lightGray: #F7F9FA;
    --blue:  #3F53B7 ;
    --green: #3CBA78;
    --white: #FFFFFF;
    --gray: #979CAA;
    --red: #CB5F5E;
    --black: #101629;
    --lightPurple: #B1BAD7;
    --lightBlue: #758DD5;
    --shadow: 0px 1px #E6E9EC;
    --border: solid 1.5px #F7F9FA;
    --regular: 'Avenir-Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }

// $dark: #3E4457;
// $lightGray: #F7F9FA;
// $blue:  #3F53B7 ;
// $green: #3CBA78;
// $white: #FFFFFF;
// $gray: #979CAA;
// $red: #CB5F5E;
// $black: #101629;
// $lightPurple: #B1BAD7;
// $lightBlue: #758DD5;
// $shadow: 0px 1px #E6E9EC;

// $black: #000 !default;
// $border-radius: 0.25rem !default;
// $box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;

//   #F7F9FA - lightGray
//   #101629 - black
//   #B1BAD7 - lightPurple
//   #979CAA - gray
//   #CB5F5E - red
//   #3F53B7 - blue
//   #758DD5 - lightBlue
//   #3E4457 - dark